<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emidev.moviesincisco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_movies_in_cisco"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_movies_in_cisco_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MoviesInCisco"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOaMNilE4OoVIaoaE3avYJDCOSoPyx3z0" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>